
.card{
    background-color: inherit !important;
    border: none !important;
}

.card-body{
    justify-content: center;
    text-justify: center;
}












































.rojo{
    background-color: red;
}

.cyan{
    background-color: cyan;
}

.yellow{
    background-color: rgb(255, 255, 139);
}

.violet{
    background-color: violet;
}

.green{
    background-color: green;
}

