/*--------------------Footer--------------------*/
.footer {
    margin-top: 20px;
    background-color: black;
    padding: 8px;
  }
  
  .footer ul {
    margin-bottom: 0px;
    gap: 20px;
  }
  
  .footer li {
    display: inline-block;
  }
  